.Nav {
    position: sticky; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the menu to the right */
    background-color: transparent;
    color: black;
    padding: 10px;
    /* z-index: 1000; Ensure the navbar is above other content */
}

.Nav .dropdown {
    /* background-color: #444; Slightly lighter than the navbar for contrast */
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-size: xx-large
    
}

.Nav .dropdown:hover {
    text-decoration: underline;
}

.dropdown-menu {
    top: 100%; /* Position just below the navbar */
    left: 0; /* Position the dropdown menu to the left */
    background-color: #f0f8ff; /* Set a solid background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 150%;
    color: Black;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1000;
}

.dropdown-menu.show {
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    border-bottom: 1px solid #444; /* Separator between items */
}

.dropdown-menu ul li:last-child {
    border-bottom: none; /* No border for the last item */
}

.dropdown-menu ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color:  #ffffffe1;
}

.dropdown-menu ul li a:hover {
    text-decoration: underline;

}
