
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.update-btn, .edit-btn, .delete-btn {
  background-color: #3f3c3c;
  color: white;
}
.update-btn, .edit-btn, .delete-btn, .back-btn {
  flex: 1; 
  text-align: center; 
}

.delete-btn {
  background-color: #000000;
}

.back-btn {
  background-color: #6c757d;
  color: white;
}


.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
}


.property-details, .contact-form {
  margin-top: 20px;
}


.action-buttons button {
  margin-top: 10px; 
}

@media (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
  }

  .action-buttons button {
    width: 100%;
  }

  div {
    padding: 10px;
  }

  button {
    margin-top: 10px;
    width: 100%; 
  }
}
